{# ------------------------------------------------------------------------------
  Skills Listing
  Location(s): Homepage

  Parameters:
    - heading {string}
    - skillsList {array}

------------------------------------------------------------------------------ #}
{% import 'macros/svgs' as svgs %}

<section class="m-skills-listing c-index-section">
  <div class="container">
    <h2 class="m-skills-listing__heading section-heading">{{ heading }}</h2>
    {% if skillsList|length %}
      <ul class="m-skills-listing__list-wrap u-bare-list">
        {% for skill in skillsList %}
          <li class="m-skills-listing__item{{ skill.skillTooltip ? ' m-skills-listing__item--has-popup' : '' }}">
            {% if skill.skillTooltip %}
              <aside class="c-tooltip">
                {{ skill.skillTooltip }}
              </aside>
            {% endif %}
            {{ svgs.svgs('plus', 'm-skills-listing__icon') }}{{ skill.skillName }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  {# /.container #}
</section>
