{# ------------------------------------------------------------------------------
  Work Showcase
  Location(s): Homepage

  Parameters:
    - heading {string}

------------------------------------------------------------------------------ #}

<section class="m-work c-index-section">
  <div class="container">
    <h2 class="section-heading">{{ heading }}</h2>
    <div class="m-work__type-select c-tab-select" data-work-slider-select>

      {# Output each portfolio category as a tab select #}
      {% for category in craft.categories().group('portfolioCategory').all() %}
        <span class="c-tab-select__tab{{ loop.first ? ' c-tab-select__tab--active' : '' }}" data-slider-index="{{ loop.index }}" data-tab-select-tab>{{ category.title }}</span>
      {% endfor %}

    </div>
    {# /.c-tab-select #}

    <div class="m-work__sliders-wrapper clearfix" data-sliders-wrapper>

    {# Create a slider for each portfolio category #}
    {% for category in craft.categories().group('portfolioCategory').all() %}
    {% set currentCategory = category %}
      <div class="m-work__slider{{ loop.first ? ' m-work__slider--active' : '' }} c-slider" data-slider data-slide-index="{{ loop.index }}">

        {# Ourput a slide for each entry in a portfolio category #}
        {% for slide in craft.entries().section('portfolio').relatedTo(currentCategory).with(['image']).all() | reverse %}
          <div class="c-slider__item c-slider__item--halves">
            <div class="c-slider__block c-slider__image-block ">

              {% set slideImage = slide.image[0] %}
              {% include 'partials/work-image' with { image: slideImage } %}
            </div>
            {# /.c-clider__block #}
            <div class="c-slider__block c-slider__content-block">
              <h3 class="c-slider__heading">{{ slide.title }}</h3>
              <div class="c-slider__copy">
                {{ slide.description }}
              </div>
              {# /.c-slider__copy #}

              {% if slide.projectLink %}
                <div class="c-slider__link">
                  <a class="c-styled-link" href="{{ slide.projectLink }}" target="_blank" rel="noopener">View Project</a>
                </div>
              {% endif %}

              {% if slide.projectCodeLink %}
                <div class="c-slider__link">
                  <a class="c-styled-link" href="{{ slide.projectCodeLink }}" target="_blank" rel="noopener">View on Github</a>
                </div>
              {% endif %}

            </div>
            {# /.c-slider__block #}
          </div>
          {# /.c-slider__item #}
        {% endfor %}

      </div>
      {# /.c-slider #}
      {% endfor %}

    </div>
    {# /.m-work__slider-wrapper #}
  </div>
  {# /.container #}
</section>
