{# ------------------------------------------------------------------------------
  Work Showcase
  Location(s): Homepage

  Parameters:
    - heading {string}

------------------------------------------------------------------------------ #}

<section class="m-work c-index-section">
  <div class="container">
    <h2 class="section-heading">{{ heading }}</h2>
    <div class="m-work__type-select c-tab-select" data-work-slider-select>

      {# Output each portfolio category as a tab select #}
      {% for category in craft.categories().group('portfolioCategory').all() %}
        <button class="c-tab-select__tab"
                data-group-index="{{ loop.index }}"
                data-tab-select-tab
                {{ loop.first ? ' data-active' : '' }}
        >
          {{ category.title }}
          <div class="c-tab-select__decoration" data-decoration></div>
        </button>
      {% endfor %}

    </div>
    {# /.c-tab-select #}


    <div class="m-work__wrapper">
    {% for category in craft.categories().group('portfolioCategory').all() %}
    {% set currentCategory = category %}
      <div class="m-work__group"
           data-group-index="{{ loop.index }}"
          {{ loop.first ? "data-active" : "" }}
           aria-hidden="{{ loop.first ? "false" : "true" }}"
      >

        {# Ourput a slide for each entry in a portfolio category #}
        {% for slide in craft.entries().section('portfolio').relatedTo(currentCategory).with(['image', 'caseStudyLink']).all() | reverse %}
          <div class="c-work-item">
            <div class="c-work-item__block c-work-item__image-block ">

              {% set slideImage = slide.image[0] %}
              {% include '_partials/work-image' with { image: slideImage } %}
            </div>
            {# /.c-clider__block #}
            <div class="c-work-item__block c-work-item__content-block">
              <h3 class="c-work-item__heading">{{ slide.title }}</h3>
              <div class="c-work-item__copy">
                {{ slide.description | typogrify }}
              </div>
              {# /.c-slider__copy #}

              {% set caseStudy = slide.caseStudyLink|first %}
              {% if caseStudy|length %}
                <div class="c-work-item__link">
                  <a class="c-styled-link" href="{{ caseStudy.url }}">Read Details</a>
                </div>
              {% endif %}

              {% if slide.projectLink %}
                <div class="c-work-item__link">
                  <a class="c-styled-link" href="{{ slide.projectLink }}" target="_blank" rel="noopener">View Project</a>
                </div>
              {% endif %}

              {% if slide.projectCodeLink %}
                <div class="c-work-item__link">
                  <a class="c-styled-link" href="{{ slide.projectCodeLink }}" target="_blank" rel="noopener">See the Code</a>
                </div>
              {% endif %}

            </div>
            {# /.c-slider__block #}
          </div>
          {# /.c-slider__item #}
        {% endfor %}
      </div>
      {# /.c-slider #}
      {% endfor %}
    </div>
    {#/.m-work__wrapper#}
  </div>
  {# /.container #}
</section>
